<div class="container"  style="margin: unset; width: 95%">

    <!--<div class="col-md-12">-->
    <div class="col-lg-12 col-md-12" style="margin-top: 20px" >
        <div class="detail" style="border-left-color: {{getcolorSign(detail.variation)}}">

                <div class="col-lg-4 col-md-4">
                    <h2><strong>{{detail.name}} </strong></h2>
                    <h2><strong>{{detail.value}}</strong> Eur</h2>
                    <h3 style="color: {{getcolorSign(detail.variation)}}; margin-block-start: unset">{{detail.variation}}%</h3>
                    <p><strong  class="badge badge-secondary" style="border-radius: 0.25em; "><span>{{detail.stock.code}}   {{detail.code}}</span> <small class="text-muted" style="margin-left: 20px">{{selected[0].name}}</small></strong></p>
                </div>
                <div class="col-lg-4 col-md-4" style="border-left-style: outset;">
                    <div class="col-lg-6 col-md-6" >
                    <p style="color: lightslategrey;margin-bottom: 2px">Openning</p>
                    <p ><strong>{{detail.open}}</strong></p>


                    <p style="color: lightslategrey;margin-bottom: 2px">High</p>
                    <p ><strong>{{detail.high}}</strong></p>

                    <p style="color: lightslategrey;margin-bottom: 2px">Low</p>
                    <p><strong>{{detail.low}}</strong></p>

                    </div>
                    <div class="col-lg-6 col-md-6" >
                        <p style="color: lightslategrey;margin-bottom: 2px">Performance</p>
                        <p ><strong>{{detail.prediction.yieldD20.toFixed(2)}}</strong></p>

                        <p style="color: lightslategrey;margin-bottom: 2px">Accuracy 20 days</p>
                        <p  style="color : {{getcolor(detail.prediction.confidenceD20)}}">{{detail.prediction.confidenceD20}}%</p>

                        <p style="color: lightslategrey;margin-bottom: 2px">Accuracy 40 days</p>
                        <p  style="color : {{getcolor(detail.prediction.confidenceD40)}}">{{detail.prediction.confidenceD40}}%</p>
                    </div>

                </div>
                <div class="col-lg-2 col-md-2" style="    border-left-style: outset;">
                    <p style="color: lightslategrey;margin-bottom: 2px ">Title numbers</p>
                    <p style="margin-bottom: 20px"><strong>{{detail.stock.titleNb}}</strong></p>

                    <p style="color: lightslategrey;margin-bottom: 2px">Volume</p>
                    <p style="margin-bottom: 20px"><strong>{{detail.volume}}</strong></p>

                    <p style="color: lightslategrey;margin-bottom: 2px">Volume exchange</p>
                    <p style="margin-bottom: 20px"><strong>{{calculateVolumeDay()}} %</strong></p>

                </div>
                <div class="col-lg-2 col-md-2" style="    border-left-style: outset;">
                    <p style="color: lightslategrey;margin-bottom: 2px">Sector</strong></p>
                    <p style="color: steelblue;margin-bottom: 20px"> <strong>{{detail.sectorCode}}</strong></p>

                    <p style="color: lightslategrey;margin-bottom: 2px">Indice</strong></p>
                    <p class="badge badge-secondary;" style="border-radius: .25rem;margin-bottom: 20px"> <strong> {{detail.stock.indice}}</strong></p>


                    <p style="color: lightslategrey;margin-bottom: 2px">Elligibility</strong></p>
                    <p class="badge badge-secondary" style="border-radius: .25rem;margin-bottom: 20px" >  {{detail.stock.eligib}}</p>

                </div>

        </div><!-- /.panel -->


        <!--<div class="col-md-4">
        </div>-->

        <div  style="border-color:lightslategray">


            <div >
               <!-- <div class="col-lg-3 col-md-3" style="padding: 2px">
                    <div class="panel-body">
                        <div class="list list-group">
                            <a class="list list-group-item">
                                marche
                                <span class="pull-right text-muted small">
                        <em>{{detail.stock.marche}}</em>
                    </span>
                            </a>

                            <a class="list list-group-item">
                                codif
                                <span class="pull-right text-muted small">
                        <em>{{detail.code}}</em>
                    </span>
                            </a>

                            <a class="list list-group-item">
                               indice
                                <span class="pull-right text-muted small">
                        <em>{{detail.stock.indice}}</em>
                    </span>
                            </a>


                            <a class="list list-group-item">
                                eligib
                                <span class="pull-right text-muted small">
                        <em>{{detail.stock.eligib}}</em>
                    </span>
                            </a>

                            <a class="list list-group-item">
                               Title numbers
                                <span class="pull-right text-muted small">
                        <em>{{detail.stock.titleNb}}</em>
                    </span>
                            </a>

                            <a class="list list-group-item">
                                Capitalization
                                <span class="pull-right text-muted small">
                        <em>{{detail.stock.capitalization}}</em>
                    </span>
                            </a>

                            <a class="list list-group-item">
                                Own Founds
                                <span class="pull-right text-muted small">
                                    <em>{{detail.stock.ownFounds}}</em>
                                </span>
                            </a>



                        </div>
                    </div>
                </div>-->

                <div style="background-color: white;margin-bottom: 30px;">
                    <span id="result" style="margin: 20px" width="1000" height="250"></span>
                </div>
            </div>

        <div class="col-lg-10 col-md-10">

                <div class="mypanel panel panel-primary" style="border-color:lightslategray">
                    <div class="panel-heading" style="background-color: lightslategray">
                        <i class="fa fa-bar-chart-o fa-fw" style="color:white"></i> Stock Indice {{detail.indice[0].code}}
                    </div>
                    <div class="panel-body">
                        <!--div class="col-lg-6 col-md-6">
                            <div class="panel">
                                <canvas id="indicePanel" width="400" height="150"></canvas>
                            </div>
                        </div-->
                        <div class="panel">
                            <canvas id="indicePanelDetail" width="1000" height="250"></canvas>
                        </div>
                    </div>
                </div>

                <div class="mypanel panel panel-primary" style="border-color:lightslategray">
                    <div class="panel-heading" style="background-color: lightslategray">
                        <i class="fa fa-bar-chart-o fa-fw" style="color:white"></i>  Sector {{detail.sector[0].code}}
                    </div>
                    <div class="panel-body">
                        <!--div class="col-lg-6 col-md-6">
                            <div class="panel">
                                <canvas id="indicePanel" width="400" height="150"></canvas>
                            </div>
                        </div-->

                        <div class="panel">
                            <canvas id="sectorPanelDetail" width="1000" height="250"></canvas>
                        </div>

                    </div>
                </div>

                <div class="mypanel panel panel-primary" style="border-color:lightslategray">
                    <div class="panel-heading" style="background-color: lightslategray">
                        <i class="fa fa-bar-chart-o fa-fw" style="color:white"></i> Stock news
                    </div>
                    <div class="panel-body">
                        <table class="table table-condensed table-striped table-bordered table-responsive">
                            <thead>
                            <tr>
                                <th ng-click="predicate = 'timestamp'; reverse=!reverse"><span >Date</span></th>
                                <th ng-click="predicate = 'principal'; reverse=!reverse"><span >News</span></th>
                            </tr>
                            <tr ng-repeat="document in detail.documents | filter:filter | orderBy:'-name':true" ng-hide="audit.filtered">
                                <td >{{document.date}}</a></td>
                                <td><small>{{document.ref}}</small></td>
                            </thead>
                        </table>

                    </div>
                </div>


        </div>

            </div>
        <div class="col-lg-2 col-md-2">

            <div >
                <div style="height: 1200px; width: 198px">
                    <span id="kineticMapRF"></span>
                    <span id="kineticMapGBT"></span>
                </div>
            </div>

            <div style="background-color: #0a6aa1"></div>
        </div>
    </div>

</div>
