<div class="container">
    <h2 translate="realtime.title">Audits</h2>


    <table class="table table-condensed table-striped table-bordered table-responsive">
        <thead>
        <tr>
            <th ng-click="predicate = 'timestamp'; reverse=!reverse"><span translate="realtime.table.header.principal">Name</span></th>
            <th ng-click="predicate = 'principal'; reverse=!reverse"><span translate="realtime.table.header.code">Code</span></th>
            <th ng-click="predicate = 'type'; reverse=!reverse"><span translate="realtime.table.header.codeIsin">Code Isin</span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="realtime.table.header.value"></span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="realtime.table.header.volume"></span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="realtime.table.header.variation"></span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="realtime.table.header.prediction"></span></th>
        </tr>
        </thead>

        <tr ng-repeat="rt in rts | filter:filter | orderBy:'-name':true" ng-hide="audit.filtered">
            <td><span>{{rt.name}}</span></td>
            <td><small>{{rt.code}}</small></td>
            <td><small>{{rt.codif}}</small></td>
            <td>{{rt.value}}</td>
            <td>{{rt.volume}}</td>
            <td style="color: darkred">{{rt.variation}}</td>
            <td>2.23
                <a ui-sref="performance({code: '{{rt.codif}}'})" ><i style="margin-left: 5px" class="glyphicon glyphicon-eye-open"/></a>
            </td>
        </tr>
    </table>
        </tr>
    </table>
</div>
