<div class="container">
    <h2 translate="realtime.title">Audits</h2>


    <table class="table table-condensed table-striped table-bordered table-responsive">
        <thead>
        <tr>
            <th ng-click="predicate = 'timestamp'; reverse=!reverse"><span translate="realtime.table.header.principal">Name</span></th>
            <th ng-click="predicate = 'principal'; reverse=!reverse"><span translate="realtime.table.header.code">Code</span></th>
            <th ng-click="predicate = 'type'; reverse=!reverse"><span translate="realtime.table.header.codeIsin">Code Isin</span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="realtime.table.header.value"></span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="realtime.table.header.volume"></span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="realtime.table.header.variation"></span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="realtime.table.header.prediction1D"></span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="realtime.table.header.prediction5D"></span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="realtime.table.header.prediction20D"></span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="realtime.table.header.detail"></span></th>
        </tr>
        </thead>

        <tr ng-repeat="rt in rts | filter:filter | orderBy:'-name':true" ng-hide="audit.filtered">
            <td  ><span ui-sref="detail({code: '{{rt.code}}'})">{{rt.name}}</span></td>
            <td><small>{{rt.code}}</small></td>
            <td><small>{{rt.codif}}</small></td>
            <td>{{rt.value}}</td>
            <td>{{rt.volume}}</td>
            <td style="color: {{getcolorSign(rt.variation)}}">{{rt.variation}}</td>
            <td style="color: {{getcolor(rt.prediction.confidenceD1)}}">{{prediction(rt.prediction.predictionD1, rt.prediction.confidenceD1)}}
                <!--a ui-sref="detail({code: '{{rt.code}}'})" ><i style="margin-left: 5px" class="glyphicon glyphicon-eye-open"/></a-->
            </td>
            <td style="color: {{getcolor(rt.prediction.confidenceD5)}}">{{prediction(rt.prediction.predictionD5, rt.prediction.confidenceD5)}}
                <!--a ui-sref="performance({code: '{{rt.codif}}'})" ><i style="margin-left: 5px" class="glyphicon glyphicon-eye-open"/></a-->
            </td>
            <td style="color: {{getcolor(rt.prediction.confidenceD20)}}">{{prediction(rt.prediction.predictionD20, rt.prediction.confidenceD20)}}
                <!--a ui-sref="performance({code: '{{rt.codif}}'})" ><i style="margin-left: 5px" class="glyphicon glyphicon-eye-open"/></a-->
            </td>
            <td>
                <a ui-sref="performance({code: '{{rt.codif}}'})" ><i style="margin-left: 5px" class="glyphicon glyphicon-eye-open"/></a>
            </td>
        </tr>
    </table>
        </tr>
    </table>
</div>
