<div>
    <h2 translate="performance.title">Performance</h2>


    <table class="table table-condensed table-striped table-bordered table-responsive">
        <thead>
        <tr>
            <th ng-click="predicate = 'timestamp'; reverse=!reverse"><span translate="performance.table.header.principal">Name</span></th>
            <th ng-click="predicate = 'principal'; reverse=!reverse"><span translate="performance.table.header.code">Code</span></th>
            <th ng-click="predicate = 'type'; reverse=!reverse"><span translate="performance.table.header.codeIsin">Code Isin</span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="performance.table.header.value"></span></th>

        </tr>
        </thead>


    </table>
        </tr>
    </table>
</div>
