<div>
    <h2 style="margin-bottom: 60px" translate="performance.title">Performance</h2>


    <span id="kinetic"></span>

    <table style="margin-top: 40px" class="table table-condensed table-striped table-bordered table-responsive">
        <thead>
        <tr>
            <th ng-click="predicate = 'timestamp'; reverse=!reverse"><span translate="performance.table.header.date">Date</span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="performance.table.header.sign">Sign</span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="performance.table.header.pred">Prediction</span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="performance.table.header.perf">Performance</span></th>

        </tr>
        </thead>

        <tr ng-repeat="pred in preds | filter:filter | orderBy:'-name':true" ng-hide="audit.filtered">
            <td><span>{{pred.date}}</span></td>
            <td>{{pred.sign}}</td>
            <td>{{pred.yield_1D}}</td>
            <td>{{pred.realyield_1D}}</td>
        </tr>


    </table>
        </tr>
    </table>
</div>
