<div class="container">
    <div class="mypanel panel panel-primary" style="border-color:lightslategray; margin-top: 20px">
        <div class="panel-heading" style="background-color: lightslategray">
            <i>Validator density</i>
        </div>
        <div class="panel-body">
            <!--div class="col-lg-6 col-md-6">
                <div class="panel">
                    <canvas id="indicePanel" width="400" height="150"></canvas>
                </div>
            </div-->
            <div class="content-body" style="margin-top: 20px">
                <!-- RESUME BLOCK -->

                <div class="panel" style="width:60%;margin-left: 20%;">
                    <canvas id="Validator" width="500" height="300"></canvas>
                </div>
                <!-- /.panel -->

                <!-- /RESUME BLOCK -->
            </div>
            <!-- /.content-body -->
        </div>
    </div>


    <h2 style="margin-bottom: 60px">{{perfs.codif}}</h2>

    <span class="label label-danger">{{perfs.errorRateD1}} / {{perfs.countD1}}</span>
    <span class="label label-warning">{{perfs.avgD1.toFixed(3)}}</span>
    <span id="kinetic1D"></span>
    <span id="kinetic1DError"></span>
    <span class="label label-primary">{{perfsGBT.errorRateD1}} / {{perfsGBT.countD1}}</span>
    <span class="label label-warning">{{perfsGBT.avgD1.toFixed(3)}}</span>
    <span id="kinetic1DGBT"></span>
    <span id="kinetic1DErrorGBT"></span>
    <span class="label label-success">{{perfsEnsemble.errorRateD1}} / {{perfsEnsemble.countD1}}</span>
    <span class="label label-warning">{{perfsEnsemble.avgD1.toFixed(3)}}</span>
    <span id="kinetic1DEnsemble"></span>
    <span id="kinetic1DErrorEnsemble"></span>
    <span class="label label-danger">{{perfs.errorRateD5}} / {{perfs.countD5}}</span>
    <span class="label label-warning">{{perfs.avgD5.toFixed(3)}}</span>
    <span id="kinetic5D"></span>
    <span id="kinetic5DError"></span>
    <span class="label label-primary">{{perfsGBT.errorRateD5}} / {{perfsGBT.countD5}}</span>
    <span class="label label-warning">{{perfsGBT.avgD5.toFixed(3)}}</span>
    <span id="kinetic5DGBT"></span>
    <span id="kinetic5DErrorGBT"></span>
    <span class="label label-success">{{perfsEnsemble.errorRateD5}} / {{perfsEnsemble.countD5}}</span>
    <span class="label label-warning">{{perfsEnsemble.avgD5.toFixed(3)}}</span>
    <span id="kinetic5DEnsemble"></span>
    <span id="kinetic5DErrorEnsemble"></span>
    <span class="label label-danger">{{perfs.errorRateD20}} / {{perfs.countD20}}</span>
    <span class="label label-warning">{{perfs.avgD20.toFixed(3)}}</span>
    <span id="kinetic20D"></span>
    <span id="kinetic20DError"></span>
    <span class="label label-primary">{{perfsGBT.errorRateD20}} / {{perfsGBT.countD20}}</span>
    <span class="label label-warning">{{perfsGBT.avgD20.toFixed(3)}}</span>
    <span id="kinetic20DGBT"></span>
    <span id="kinetic20DErrorGBT"></span>
    <span class="label label-success">{{perfsEnsemble.errorRateD20}} / {{perfsEnsemble.countD20}}</span>
    <span class="label label-warning">{{perfsEnsemble.avgD20.toFixed(3)}}</span>
    <span id="kinetic20DEnsemble"></span>
    <span id="kinetic20DErrorEnsemble"></span>
    <span class="label label-danger">{{perfs.errorRateD40}} / {{perfs.countD40}}</span>
    <span class="label label-warning">{{perfs.avgD40.toFixed(3)}}</span>
    <span id="kinetic40D"></span>
    <span id="kinetic40DError"></span>
    <span class="label label-primary">{{perfsGBT.errorRateD40}} / {{perfsGBT.countD40}}</span>
    <span class="label label-warning">{{perfsGBT.avgD40.toFixed(3)}}</span>
    <span id="kinetic40DGBT"></span>
    <span id="kinetic40DErrorGBT"></span>
    <span class="label label-success">{{perfsEnsemble.errorRateD40}} / {{perfsEnsemble.countD40}}</span>
    <span class="label label-warning">{{perfsEnsemble.avgD40.toFixed(3)}}</span>
    <span id="kinetic40DEnsemble"></span>
    <span id="kinetic40DErrorEnsemble"></span>

    <!--<table style="margin-top: 40px" class="table table-condensed table-striped table-bordered table-responsive">
        <thead>
        <tr>
            <th ng-click="predicate = 'timestamp'; reverse=!reverse"><span translate="performance.table.header.date">Date</span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="performance.table.header.sign1D">Sign 1 Day</span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="performance.table.header.pred1D">Prediction 1 Day</span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="performance.table.header.perf1D">Performance 1 Day</span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="performance.table.header.sign5D">Sign 5 Day</span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="performance.table.header.pred5D">Prediction 5 Day</span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="performance.table.header.perf5D">Performance 5 Day</span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="performance.table.header.sign20D">Sign 20 Day</span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="performance.table.header.pred20D">Prediction 20 Day</span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="performance.table.header.perf20D">Performance 20 Day</span></th>

        </tr>
        </thead>

        <tr ng-repeat="perf in perfs.perfList | filter:filter | orderBy:'-name':true" ng-hide="audit.filtered">
            <td><span>{{perf.mlD1.date}}</span></td>
            <td>{{perf.mlD1.sign}}</td>
            <td>{{perf.mlD1.yield.toFixed(3)}}</td>
            <td>{{perf.mlD1.realyield.toFixed(3)}}</td>
            <td>{{perf.mlD5.sign}}</td>
            <td>{{perf.mlD5.yield.toFixed(3)}}</td>
            <td>{{perf.mlD5.realyield.toFixed(3)}}</td>
            <td>{{perf.mlD40.sign}}</td>
            <td>{{perf.mlD40.yield.toFixed(3)}}</td>
            <td>{{perf.mlD40.realyield.toFixed(3)}}</td>
        </tr>


    </table>
        </tr>
    </table>-->
</div>
