<div class="container">
    <h2 translate="database.title">Extractions</h2>
    <table class="table table-condensed table-striped table-bordered table-responsive">
        <thead>
        <tr>
            <th ng-click="predicate = 'timestamp'; reverse=!reverse"><span translate="database.table.header.code">Code</span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="database.table.header.lastdate"></span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="database.table.header.firstdate"></span></th>
            <th ng-click="predicate = 'data.message'; reverse=!reverse"><span translate="database.table.header.number"></span></th>
        </tr>
        </thead>

        <tr ng-repeat="stock in data.stockList | filter:filter | orderBy:'-name':true" ng-hide="audit.filtered">
            <td><small>{{stock.name}}</small></td>
            <td><small>{{stock.lastdate}}</small></td>
            <td><small>{{stock.firstdate}}</small></td>
            <td>{{stock.nbElements}}</td>
        </tr>

        <tr class="blank_row">
            <td colspan="4"></td>
        </tr>


        <tr ng-repeat="stock in data.sectorList | filter:filter | orderBy:'-name':true" ng-hide="audit.filtered">
            <td><small>{{stock.name}}</small></td>
            <td><small>{{stock.lastdate}}</small></td>
            <td><small>{{stock.firstdate}}</small></td>
            <td>{{stock.nbElements}}</td>
        </tr>

        <tr class="blank_row">
            <td colspan="4"></td>
        </tr>

        <tr ng-repeat="stock in data.indiceList | filter:filter | orderBy:'-name':true" ng-hide="audit.filtered">
            <td><small>{{stock.name}}</small></td>
            <td><small>{{stock.lastdate}}</small></td>
            <td><small>{{stock.firstdate}}</small></td>
            <td>{{stock.nbElements}}</td>
        </tr>

        <tr class="blank_row">
            <td colspan="4"></td>
        </tr>

        <tr ng-repeat="stock in data.rawList | filter:filter | orderBy:'-name':true" ng-hide="audit.filtered">
            <td><small>{{stock.name}}</small></td>
            <td><small>{{stock.lastdate}}</small></td>
            <td><small>{{stock.firstdate}}</small></td>
            <td>{{stock.nbElements}}</td>
        </tr>

        <tr ng-repeat="stock in data.diarryList | filter:filter | orderBy:'-name':true" ng-hide="audit.filtered">
            <td><small>{{stock.name}}</small></td>
            <td><small>{{stock.lastdate}}</small></td>
            <td><small>{{stock.firstdate}}</small></td>
            <td>{{stock.nbElements}}</td>
        </tr>

    </table>
 </div>
